* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
}
header .nav-item .nav-link {
  margin-right: 0;
  position: relative;
  color: white;
  margin: 0 20px;
  transition: 0.3s;
  overflow: hidden;
}
#portfolio__carousel .carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}
.carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.carousel-indicators {
  bottom: 30px;
}
.carousel-item {
  position: relative;
  height: 100vh;
}
.carousel-item::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
/* header hover  */
.carousel-item::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
#portfolio__carousel .carousel-indicators .active {
  /* opacity: 1; */
  background-color: #35a22c;
}
header .container .nav-item .nav-link {
  position: relative;
  color: white;
  margin: 0 20px;
  transition: 0.3s;
  overflow: hidden;
}
header .container .nav-item .nav-link:hover {
  color: #35a22c;
}
header .nav-item .nav-link::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #35a22c;
  bottom: 0px;
  left: 0;
  transform: translateX(-100%);
  transition: 0.3s;
}
header .nav-item .nav-link:hover::after {
  transform: translateX(0px);
}
header .container .nav-item.active .nav-link {
  color: #35a22c;
}

header .nav-item.active .nav-link::after {
  transform: translateX(0px);
}
/* .project  */
.project__content .nav {
  justify-content: center;
}
.project__title {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.project__content .nav li {
  margin: 0 5px;
}
.project__content .nav-pills .nav-link.active {
  color: #fff;
  background-color: #35a22c;
  border: none;
}
.project__content .nav-pills .nav-link {
  border: 1px solid black;
  color: black;
}
.project__item .card {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.13);
}
.project__item .card-body {
  border: 1px solid transparent;
  border-radius: 16px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
}
.project__item .card:hover .card-body {
  border-color: #35a22c;
}
.project__item .card:hover .card-body h6 {
  color: #35a22c;
}
/* feature  */
.feature {
  background: url(./image/3.jpg) no-repeat center;
  background-size: cover;
  padding: 100px 0 120px;
  background-attachment: fixed;
  position: relative;
  height: 710px;
  color: white;
}
.feature__title {
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: 80px;
}
.feature__item {
  position: absolute;
  top: 80px;
  padding: 50px 30px;
  transition: 0.3s;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.5s;
}
.features__content .row {
  aspect-ratio: 1/1;
}
.feature__item i {
  font-size: 48px;
  color: #35a22c;
}
.feature__item h4 {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  padding-top: 25px;
  font-weight: 800;
}
.feature__item p {
  padding-top: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.feature .overlay {
  background: rgba(7, 10, 12, 0.72);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.feature__item:hover {
  background-color: black;
  border-color: white;
}
.feature__content .row .border__row {
  padding: 50px;
}
/* symboi */
.symboi {
    position: relative;
    color: #585858;
  height: 50vh;

    
    
}
.symboi__bg {
  background-image: url(./image/memphis_2.png);
  background-position:  bottom left;
  background-repeat: no-repeat;
  background-size: 50% auto;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} 
.symboi__title {
  background: rgba(255,255,255,.25);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,.18);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
  padding: 45px;
  max-width: 750px;
} 
.symboi__content {
  padding: 45px 50px;
}
.icon_award{
  display: flex;
  justify-content: space-around;
}
.icon_award img{
  width: 110px;
}
.symboi__ct{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
footer {
    background-color: #222;
}
footer a {
  color: #aaa;
}
.footer__main{
  margin-bottom: 40px;
}
.footer__main a{
  padding: 15px 18px;
  border: 1px solid #585858;
  border-radius: 50%;
}
